@charset "utf-8";

.header-row {
    display: flex;
    flex-direction: row;
    border-style: var(--varBorderStyle);
    border-color: var(--varBorderColor);
    background-color: var(--siteBlue);
}

.header-column {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    letter-spacing: .2em;
    padding-left: 10px;
    padding-right: 10px;
    border-style: var(--varBorderStyle);
    border-color: var(--varBorderColor);
}

.header-row-right-just {
    display: flex;
    flex-direction: row;
    border-style: var(--varBorderStyle);
    border-color: var(--varBorderColor);
    justify-content: flex-end;
    justify-items: center;
    width: 100%;
    padding: 0;
}

.menu-text {
    color: white;
}



.making-a-difference {
    font-family: 'Superscratchy';
    font-style: normal;
    }

.the-hope {
    color: darkgrey;
    font-size: 30px;
}

.the-dream {
    color: black;
    font-size: 40px;
    font-weight: 800;
}

.hope-text {
    color: black;
    font-size: 18px;
}


.row-dream {
    display: flex;
    flex-direction: row;
    border-style: var(--varBorderStyle);
    border-color: var(--varBorderColor);
    flex-wrap: wrap;
    justify-content: center;
}

.col-dream {
    display: flex;
    flex-direction: column;
    border-style: var(--varBorderStyle);
    border-color: var(--varBorderColor);
    padding: 10px;
}

.col-back-image-rocket {
    background-image: url("../wwwroot/images/HTD_RocketShip.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain; /* Resize the background image to cover the entire container */
    display: flex;
    flex-direction: column;
    border-style: var(--varBorderStyle);
    border-color: var(--varBorderColor);
    width: 450px;
}

.hope-text {
    font-size: small
}


/*FOOTER*/
.footer-why-sleep-matters {
    line-height: 70%;
    font-size: small;
}

.footer-captions {
    letter-spacing: .1em;
}

.footer-captions-small {
    letter-spacing: .08em;
    font-size: xx-small;
    line-height: 250%;
}

.footer-row {
    display: flex;
    flex-direction: row;
    background-color: var(--siteBlue);
    justify-content: center;
}

 .footer-column{
     display:flex;
     flex-direction:column;
     color:white;
     padding:20px;
 }


.sleep-row {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    justify-content: center;
    flex-wrap: wrap;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain; /* Resize the background image to cover the entire container */
    border-style: var(--varBorderStyle);
    border-color: var(--varBorderColor);
}

.sleep-container-column {
    display: flex;
    flex-direction: column;
    border-style: var(--varBorderStyle);
    border-color: var(--varBorderColor);
}

.sleep-column {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-style: var(--varBorderStyle);
    border-color: var(--varBorderColor);
    text-align: center;
}






.test-row {
    display: flex;
    flex-direction: row;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain; /* Resize the background image to cover the entire container */
    border-style: dotted;
    justify-content: center;
    background-color: var(--siteBlue);
}

.test-col {
    display: flex;
    flex-direction: column;
    border-style: dotted;
}