:root {
/*	--varborderstyle: dotted;
	--varbordercolor: red;*/

	--siteBlue: #28446c;
}


.showborder {
	border-style: dotted;
	border-color: red;
}


.nav-menu-extend{
	color:white;
	padding-top:10px;
	padding-left:20px;
}



.form-field-extend {
	/*padding-right:5px;*/
	font-size: .1rem;
	padding-top: .5rem;
}




/* Container holding the image and the text */
.container {
	position: relative;
	text-align: left;
	color: black;
}


/* Top left text */
.top-left {
	position: absolute;
	top: 40%;
	left: 5%;
	color: var(--siteBlue);
	font-size: 62px;
	font-weight: 600;
	font-stretch: expanded;
	font-family: "cabin-sketch";
}


.middle-left {
    position: absolute;
    top: 58px;
    left: 13px;
    font-size: 18px;
    font-weight: 600;
    font-stretch: expanded;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.one-night {
	color: var(--siteBlue);
	font-size: 24px;
	font-weight: 200;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
	
.because{
	color: black;
	font-size: 18px;	
	font-weight: 100;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}



.nav-link {
	background-color: #214368
}



